{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <div class="card shadow mx-auto pb-3 pt-2 mb-5 col-10">
            <div class="card-header bg-white text-center">
                <h2>{{ post.title }}</h2>
            </div>
            <div class="card-body mb-3 mt-3">
                <p class="card-text">{{ post.content }}</p>
                <p class="card-text author">Ecrit par {{ post.author }} le {{ post.createdAt | date('d/m/Y') }} à {{ post.createdAt
                    | date('H:i') }}</p>
                <div class="mt-4">
                    <a href="{{ path('posts') }}" class="btn btn-dark" role="button"><i class="fas fa-angle-double-left"></i></a>
                </div>
            </div>
            <hr>
            <h3 class="mx-auto mt-4">Comments</h3>
            {% for comment in post.comments %}
            <div class="card-body">
                <p class="card-text">{{ comment.content }}</p>
                <p class="card-text author">Ecrit par {{ comment.author }} le {{ comment.createdAt | date('d/m/Y') }} à {{ comment.createdAt |
                    date('H:i') }}</p>
            </div>
            <hr>
            {% endfor %}
            {{ form_start(commentForm) }}
            {{ form_row(commentForm.author, {'attr': {'placeholder': "Votre nom"}}) }}
            {{ form_row(commentForm.content, {'attr': {'placeholder': "Votre commentaire"}}) }}
            <button type="submit" class="btn btn-dark">Comment</button>
            {{ form_end(commentForm) }}

        </div>
    </div>
{% endblock %}